kafka {
    client  {
        client_id = "emqx_kafka"
        servers = [ "kafka-0-external.kafka.svc.cluster.local:9094","kafka-1-external.kafka.svc.cluster.local:9094","kafka-2-external.kafka.svc.cluster.local:9094"]
        connection_strategy = per_partition
        min_metadata_refresh_interval = 5000
        query_api_versions = true
        request_timeout = 240000
    }
    producer {
        produce = sync
        produce_sync_timeout = 3000
        encode_payload_type = plain
        replayq_dir = undefined
        compression = no_compression
        partitioner = random
    }
    hook = [
        {
         hook = "message.publish"
         filter = "test/#"
         topic = "test"
         key = "${topic}"
         value = "{ \"topic\" : \"${topic}\", \"payload\" : \"${payload}\", \"ts\" : \"${ts}\" }"
         producer {
            produce = sync
            produce_sync_timeout = 3000
            encode_payload_type = plain
            replayq_dir = undefined
            compression = no_compression
            partitioner = random
         }
        }
    ] 
}
